APP_ENV=local
APP_DEBUG=true
APP_NAME="Competizioni Judo"
APP_URL=http://localhost:8080

DB_HOST=127.0.0.1
DB_NAME=
DB_USER=
DB_PASS=
SITE_NAME="Competizioni Judo"
ADMIN_USER=
ADMIN_PASS_HASH=
APP_AUTO_RUN_MIGRATIONS=false
