parameters:
  level: 6
  parallel:
    maximumNumberOfProcesses: 1
  paths:
    - src/Core
    - src/Controller
    - src/Model
    - src/Service
    - src/Validation
    - src/helpers.php
    - public
